<a href="https://colab.research.google.com/github/mandysampaio/calculadora-de-imoveis/blob/main/analise_exploratoria_mercado_livre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# dados
# importar dados usando o pandas
import pandas as pd
url = 'https://raw.githubusercontent.com/cassiasamp/calculadora-de-imoveis-out-20/main/coleta-de-dados/dados_tratados_mercado_livre.csv'

In [10]:
df = pd.read_csv(url)

In [12]:
df.head(5)

  zonas                                          enderecos  ...  areas  quartos
0   sul  Rua Doutor Ferreira Lopes, Vila Sofia, São Pau...  ...   90.0      3.0
1   sul  Avenida Dos Ourives, Jardim São Savério, São P...  ...   63.0      3.0
2   sul  Rua Doutor Nicolau Alberto Defina, Jardim Da S...  ...   68.0      2.0
3   sul  Avenida Carlos Liviero, Vila Liviero, São Paul...  ...   48.0      2.0
4   sul  Rua Armando Ramos Filho, Moinho Velho, São Pau...  ...   40.0      1.0

[5 rows x 5 columns]

In [14]:
df.describe().T

         count         mean          std  ...     50%      75%      max
precos   960.0  2500.155208  1796.766329  ...  1963.5  2986.25  15000.0
areas    960.0    81.677083    67.986120  ...    63.0    87.00    700.0
quartos  958.0     2.049061     0.902044  ...     2.0     3.00      8.0

[3 rows x 8 columns]

In [16]:
df.dtypes

zonas         object
enderecos     object
precos       float64
areas        float64
quartos      float64
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   zonas      960 non-null    object
 1   enderecos  960 non-null    object
 2   precos     960 non-null    float64
 3   areas      960 non-null    float64
 4   quartos    958 non-null    float64
dtypes: float64(3), object(2)
memory usage: 37.6+ KB

In [ ]:
# perguntas/hipóteses para os dados 
# 1. qual a relação entre preço e no de quartos
# 2. relação entre preços e zonas/regiões